---
import MainLayout from "../layouts/MainLayout.astro";
import MuroOracion from "../components/MuroOracion.jsx";
---

<MainLayout title="">
    <div class="mb-6">
        <h1 class="text-2xl font-bold text-[#15344f] flex items-center gap-2">
            Peticiones de Oración
        </h1>
        <p class="text-gray-500">
            Peticiones actuales de orración y testimonios de oraciones
            respondidas
        </p>
    </div>

    <MuroOracion client:load />
</MainLayout>
